<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        <H1>{{ tempProduct.name }}</H1>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                
                <!-- if the product list is empty then display a message -->
                <div *ngIf="products?.length == 0" 
                    class="alert alert-warning col-md-12" role="alert">
                    No product found.
                </div>
            </div>
        </div>
    </div>
</div>